# Python
__pycache__/
**/__pycache__/
**pycache**/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Virtual Environment
venv/
.venv/
env/

# Environment variables / secrets
.env
.streamlit/secrets.toml

# Model & artifacts (important for ML projects)
artifacts/*.pkl
artifacts/*.joblib

# Logs
*.log

# VS Code
.vscode/

# Data (optional - only if large)
# data/*.csv
resumeiq.db
test_resumeiq_ci.db
*.db
*.sqlite
*.sqlite3
